/********** Log in choice **********/

.Lich-first,
.Lich-second {
    position: absolute;
    top: 0;
    width: 50%;
    height: 640px;
    text-align: center;
    padding: 0 65px;
}

h2 {
    margin-top: 250px;
}
p {
    margin-top: 25px;
    font-size: larger;
}
button {
    margin-top: 20px;
    height: 45px;
    width: 90px;
}