/********** Log in choice **********/

.Lich-first {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Lich-second {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}