/********** Sign up **********/
body {
    position: absolute;
    top: 0;
}
.Khsu-triggered {
    background-color: #ffc000;
    border-color: #ffc000;
    color: whitesmoke;
}
.Khsu-triggered:hover {
    background-color: #ffc000;
    border-color: #ffc000;
    color: whitesmoke; /* Stop blink */
}

#Khsu-main {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 640px;
}
    .Khsu-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 60px;
    }
        .Khsu-name {
            margin-top: 10.2px;
        }
        .Khsu-email,
        .Khsu-pass,
        .Khsu-con-pass {
            margin-top: 18px;
        }
        .Khsu-name input,
        .Khsu-email input,
        .Khsu-pass input,
        .Khsu-con-pass input {
            border: 1px solid black;
        }
        .Khsu-name input:hover,
        .Khsu-email input:hover,
        .Khsu-pass input:hover,
        .Khsu-con-pass input:hover {
            box-shadow: 0 0 0 0.07rem black;
            outline: none;
        }
        .Khsu-name input:focus {
            border-color: #ff0000;
            box-shadow: 0 0 0 0.25rem #ff7272;
        }
        .Khsu-email input:focus,
        .Khsu-pass input:focus,
        .Khsu-con-pass input:focus {
            border-color: #ffc000;
            box-shadow: 0 0 0 0.25rem #f7d36a;
        }
        .Khsu-button {
            border-color: #ff0000;
            color: #ff0000;
            display: block;
            width: 100%;
        }
        .Khsu-button:hover {
            background-color: #ff0000;
            border-color: #ff0000;
            color: whitesmoke;
        }
        label {
            display: flex;
            justify-self: center;
            margin-top: 10px;
            color: gray;
        }
        .Khsu-Google {
            margin-top: -3px;
            display: block;
            width: 100%;
            border-color: black;
        }
        .Khsu-Google:hover {
            box-shadow: 0 0 0 0.15rem black;
        }
    .Khsu-pic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

@media (max-width: 1220px) {
    h1 {
        font-size: 29.5px;
    }
    p {
        font-size: 14.5px;
    }
}
@media (max-width: 992px) {
    #Khsu-main {
        grid-template-columns: 100%;
    }
        .Khsu-form {
            padding: 0 150px;
        }
        .Khsu-pic {
            display: none;
        }
}
@media (max-width: 700px) {
    .Khsu-form {
        padding: 0 60px;
    }
}